html {
    height: 95%;
}

body {
    background: #F5B5B5;
    height: 95%;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error__title {
    display: flex;
}

.error__title img {
    width: 64px;
    height: 64px;
}

.error__title div {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.error__contents {
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
}